/* aside */
.aside {
  display: none;
}

/* .aside .logo {
  position: absolute;
  top: 50px;
  font-size: 30px;
  text-transform: capitalize;
}

.aside .logo a {
  color: var(--text-black-900);
  font-weight: 700;
  padding: 15px 20px;
  font-size: 30px;
  letter-spacing: 5px;
  position: relative;
}

.aside .logo a span {
  font-family: 'Noto Sans KR', cursive ;
  font-size: 40px;
}

.aside .logo a:before {
  content: '';
  position:absolute;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid #002c39;
  border-left: 5px solid #002c39;
  bottom: 0;
  left: 0;
}

.aside .logo a:after {
  content: '';
  position:absolute;
  width: 20px;
  height: 20px;
  border-top: 5px solid #002c39;
  border-right: 5px solid #002c39;
  top: 0;
  right: 0;
} */

.aside .nav-toggler {
  height: 40px;
  width: 45px;
  /* border: 1px solid var(--bg-black-50); */
  cursor: pointer;
  position: fixed !important;
  top: 20px;
  /* left: 300px; */
  border-radius: 5px;
  background: var(--bg-black-100);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 30;
  transition: all 0.3s ease;
}

.aside .nav-toggler span {
  height: 2px;
  width: 18px;
  /* background: #002c39; */
  background-color: #203929;
  display: inline-block;
  position: relative;
}
.aside .nav-toggler.open span {
  background-color: transparent;
}

.aside .nav-toggler span::before {
  content: "";
  height: 2px;
  width: 18px;
  /* background: #002c39; */
  background-color: #203929;
  position: absolute;
  top: -6px;
  left: 0;
}
.aside .nav-toggler.open span::before {
  transform: rotate(45deg);
  top: 0;
}
.aside .nav-toggler span::after {
  content: "";
  height: 2px;
  width: 18px;
  /* background: #002c39; */
  background-color: #203929;
  position: absolute;
  top: 6px;
  left: 0;
}
.aside .nav-toggler.open span::after {
  transform: rotate(-45deg);
  top: 0;
}
.aside .nav {
  margin-top: 50px;
}

.aside .nav li {
  margin-bottom: 20px;
  display: block;
}

.aside .nav li a {
  font-size: 16px;
  font-weight: 600;
  display: block;
  /* border-bottom: 1px solid var(--bg-black-50); */
  color: #cdc4b5;
  padding: 5px 15px;
}

.aside .nav li a.active {
  color: #cdc4b5;
  border-bottom: 4px solid #cdc4b5;
}
.aside .nav li a i {
  margin-right: 15px;
}

@media (max-width: 1199px) {
  .aside {
    width: 100%;
    background: #203929
      url("https://portfolio-v4-abjt14.vercel.app/assets/images/noise/noise.png")
      repeat 0 0;
    animation: 1000ms infinite noise;
    position: fixed;
    top: 0;
    left: -100%;
    padding: 30px;
    height: 100vh;
    /* border-right: 1px solid var(--bg-black-50); */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: all 0.3s ease;
  }
  .aside.open {
    left: 0;
  }
  .aside .nav-toggler {
    display: flex;
    left: 30px;
  }
  .aside .nav-toggler.open {
    left: calc(100% - 60px);
    border: none;
  }
  .aside .nav-toggler.open span::before,
  .aside .nav-toggler.open span::after {
    background-color: #cdc4b5;
  }
}
