@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Poppins:wght@200;300;400;500;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Noto+Sans+KR:wght@400;700&family=Poppins:wght@200;300;400;500;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nanum+Gothic:wght@400;700;800&display=swap");

/* @import url(//db.onlinewebfonts.com/c/22b4c73e6141de7c9937f42cb58bdb4b?family=GT+America+Expanded+Bold); */
* {
  font-family: "Kosugi Maru", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
  font-family: "Poppins", sans-serif;
  /* font-family: 'GT America Expanded Bold', sans-serif; */
  user-select: none;
}

:root {
  /* --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff; */
  --bg-black-50: #e8dfec;
  --text-black-900: #203929;
  --text-black-700: #203929;

  /* --text-black-700: #e36414; */
}

body.dark {
  --bg-black-900: #f0d2ac;
  --bg-black-100: #697393;
  --bg-black-50: #393939;
  --text-black-900: #fff;
  --text-black-700: #e9e9e9;
}

body {
  line-height: 1.5;
  font-size: 16px;
  font-family: "Poppins", "Noto Sans KR", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  word-break: keep-all;
}

::before,
::after {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
p {
  color: #203929;
}
section {
  /* background: #cdc4b5ad */
  background: url("https://portfolio-v4-abjt14.vercel.app/assets/images/noise/noise.png")
    repeat 0 0;
  background-repeat: repeat;
  animation: 1000ms infinite noise;
  opacity: 1;
}

.section {
  /* background: transparent
  url("../images/noise.png")
  repeat 0 0;
  background-repeat: repeat;
  animation: 1000ms infinite noise; */
  min-height: 100vh;
  display: block;
  padding: 0 30px;
  opacity: 1;
  /* position:fixed; */
  /* left: 270px; */
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s ease;
}

.main-container {
  /* padding-left: 270px; */
}

.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}

.section .container {
  padding-top: 60px;
  padding-bottom: 70px;
}

.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
}

.section-title h2 {
  font-size: 35px;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
}

.section-title h2:before {
  content: "";
  height: 4px;
  width: 50px;
  background-color: #203929;
  position: absolute;
  top: 100%;
  left: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 35px;
  color: white;
  border-radius: 5px;
  display: inline-block;
  white-space: nowrap;
  border: none;
  background: #203929;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.05);
}

@font-face {
  font-family: "BiCute Round";
  font-style: normal;
  font-weight: 400;
  src: local("※"), url(../font/TmoneyRoundWindRegular.woff2) format("woff2"),
    url(../font/TmoneyRoundWindRegular.woff) format("woff"),
    url(../font/TmoneyRoundWindRegular.ttf) format("fft");
  font-display: swap;
}

@font-face {
  font-family: "BiCute Round";
  font-style: normal;
  font-weight: 700;
  src: local("※"),
    url(../font/TmoneyRoundWind-ExtraBoldA1.woff2) format("woff2"),
    url(../font/TmoneyRoundWind-ExtraBoldA1.woff) format("woff"),
    url(../font/TmoneyRoundWind-ExtraBoldA1.ttf) format("fft");
  font-display: swap;
}

@font-face {
  font-family: "GT America Expanded Bold";
  src: url("//db.onlinewebfonts.com/t/22b4c73e6141de7c9937f42cb58bdb4b.eot");
  src: url("//db.onlinewebfonts.com/t/22b4c73e6141de7c9937f42cb58bdb4b.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/22b4c73e6141de7c9937f42cb58bdb4b.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/22b4c73e6141de7c9937f42cb58bdb4b.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/22b4c73e6141de7c9937f42cb58bdb4b.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/22b4c73e6141de7c9937f42cb58bdb4b.svg#GT America Expanded Bold")
      format("svg");
}

@media (max-width: 1199px) {
  .section .container {
    padding-top: 70px;
  }

  .section {
    left: 0;
  }
  /* .section.open {
    left: 270px;
  } */
}

@keyframes noise {
  0%,
  100% {
    background-position: 0 0;
  }
  10% {
    background-position: -5% -10%;
  }
  20% {
    background-position: -15% 5%;
  }
  30% {
    background-position: 7% -25%;
  }
  40% {
    background-position: 20% 25%;
  }
  50% {
    background-position: -25% 10%;
  }
  60% {
    background-position: 15% 5%;
  }
  70% {
    background-position: 0 15%;
  }
  80% {
    background-position: 25% 35%;
  }
  90% {
    background-position: -10% 10%;
  }
}
