.main {
  background-color: #203929;
  /* background: #203929
	  	url("https://portfolio-v4-abjt14.vercel.app/assets/images/noise/noise.png")
	  	repeat 0 0;
	  background-repeat: repeat;
	  animation: 1000ms infinite noise;
	  pointer-events: none;
	  opacity: 1; */
  position: relative;
}

.main .container .title {
  /* color: #f0d2ac; */
  color: #cdc4b5;
  text-align: center;
  font-size: 40px;
}

.main .container .title :after {
  display: block;
  content: "";
  height: 1.5px;
  width: 200px;
  background-color: #e36414;
  position: absolute;
  left: 51%;
  top: 50%;
}

.titleContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main a {
  position: absolute;
  bottom: -200px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  /* color: #f0d2ac; */
  color: #cdc4b5;
  /* font : normal 400 20px/1 'Josefin Sans', sans-serif;
     */
  font: normal 400 14px/1 "Poppins", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}
.main a:hover {
  opacity: 0.5;
}

.main a {
  padding-top: 60px;
}
.main a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #e36414;
  border-bottom: 1px solid #e36414;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}
