/* ===== Portfolio Section ===== */
.portfolio__container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 60px;
  /* overflow: hidden; */
}

.portfolio-heading {
  flex: 0 0 100%;
  max-width: 100%;
}

.portfolio__filters {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* column-gap: .75rem; */
}

.portfolio__item {
  cursor: pointer;
  padding: 8px 16px 6px;
  font-weight: 600;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.portfolio__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
  flex: 0 0 30%;
  max-width: 30%;
  background-color: #fff;
  padding: 1.25rem;
  border-radius: 0.5rem;
  border: var(--bg-black-50);
  overflow: hidden;
  filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.25));
  /* Transition ì ìš© ë¶ˆê°€ - Mixitup */
}

.portfolio__card:hover {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
  transform: scale(1.05);
}

.portfolio__img {
  border-radius: 0.5rem;
  margin-bottom: 1em;
  width: 100%;
}

.portfolio__subtitle {
  font-size: 0.75rem;
}

.portfolio__title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  flex: 1;
}
.portfolio__link {
  margin: 10px 0 20px 0;
}

.portfolio__link a:hover {
  color: #203929;
}

.portfolio__button {
  color: var(--skin-color);
  font-size: 1rem;
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  cursor: pointer;
  font-weight: 600;
}

.portfolio__button i {
  font-size: 1rem;
  transition: 0.3s;
}

.portfolio__button:hover i {
  transform: translateX(0.25rem);
}

.portfolio__item-details {
  display: none;
}

/* Active Item Portfolio */
.active-portfolio {
  background-color: var(--skin-color);
  color: var(--bg-black-900);
}

/* Portfolio Popup */
.portfolio__popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.portfolio__popup.open {
  opacity: 1;
  visibility: visible;
}

.portfolio__popup-inner {
  position: relative;
  background-color: #fff;
  border: 1px solid #fff;
  width: 580px;
  border-radius: 0.5rem;
  padding: 2.5rem;
  color: #203929;
  max-height: 100vh;
  overflow-y: auto;
}

.portfolio__popup-content {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 3rem;
}

.portfolio__popup-close {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 1.5rem;
  color: #203929;
  cursor: pointer;
  background: #fff;
}

.portfolio__popup-close {
  height: 40px;
  width: 45px;
  border: 1px solid #203929;
  cursor: pointer;
  position: absolute;
  /* top: 30px; */
  bottom: 30px;
  right: 30px;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
  transition: all 0.3s ease;
}

.portfolio__popup-close span {
  position: relative;
  height: 2px;
  width: 18px;
  background-color: transparent;
  display: inline-block;
}

.portfolio__popup-close span::before {
  content: "";
  height: 2px;
  width: 18px;
  background: #203929;
  position: absolute;
  transform: rotate(45deg);
  /* top: 50%;
  left: 50%; */
}

.portfolio__popup-close span::after {
  content: "";
  height: 2px;
  width: 18px;
  background: #203929;
  position: absolute;
  transform: rotate(-45deg);
  /* top: 50%;
  left: 50%; */
}

.portfolio__pop-img {
  width: 100%;
  margin: 0 auto;
  /* max-height: 300px; */
  border-radius: 0.5rem;
}

.portfolio__popup-subtitle {
  font-size: 0.75rem;
  /* margin-bottom: 0.25rem; */
}

.portfolio__popup-title {
  color: var(--text-black-900);
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.portfolio__popup-info {
  margin-top: 10px;
}

.details__description {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.details__info li {
  margin-bottom: 0.25rem;
  text-transform: capitalize;
  font-size: 1rem;
}

.details__info li:last-child {
  margin-bottom: 0;
}

.details__info li span {
  font-weight: normal;
}

.details__info li a {
  text-transform: lowercase;
  color: var(--skin-color);
}

@media (max-width: 1199px) {
  .portfolio__popup {
    left: 0;
  }
}

@media (max-width: 767px) {
  .portfolio__card {
    margin-bottom: 30px;
    flex: 0 0 48%;
    max-width: 48%;
  }
  .portfolio__popup-content {
    grid-template-columns: 1fr;
  }
  .portfolio__popup-close {
    top: inherit;
    bottom: 30px;
  }
}

@media (max-width: 576px) {
  .portfolio__card {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .portfolio__popup-inner {
    width: 98%;
  }
  .portfolio__pop-img {
    width: 100%;
  }
  .portfolio__item {
    flex: 0 0 48%;
  }
  .portfolio__item:nth-child(1) {
    flex: 0 0 96%;
  }
}
/*----------------------stack--*/

.introText {
  /* border: 1px solid red; */
  width: 60%;
  margin-bottom: 200px;
  /* font-family: 'EB Garamond', serif; */
}

@media screen and (max-width: 990px) {
  .introText {
    width: 100%;
  }
}

.introBox {
  /* border: 1px solid red; */
  display: flex;
  margin-top: 70px;
  flex-direction: column;
}

.textInBox {
  padding: 20px;
  margin-bottom: 20px;
}

.textInBox p:nth-of-type(1) {
  margin-bottom: 20px;
}

/* .imgWrap {
  display: flex;
} */
@media screen and (max-width: 800px) {
  .introMemo {
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .textInBox {
    width: 100%;
  }
}
.stackWrap {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.stackContainer {
  position: relative;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  height: 120px;
  width: 120px;
  background-color: rgb(255, 255, 255);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.25));
}
.stackImg {
  display: flex;
  border-radius: 4px;
  height: 70px;
  width: 70px;
  background-color: rgb(255, 255, 255);
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.stackTxt {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.7;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  margin-top: 3px;
  text-align: center;
}
.stackBlank {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: rgb(187, 187, 187);
}
