/* ===== Portfolio Section ===== */
.portfolio {
  background: #cdc4b5ad
  url("https://portfolio-v4-abjt14.vercel.app/assets/images/noise/noise.png")
  repeat 0 0;
  background-repeat: repeat;
  animation: 1000ms infinite noise;
  opacity: 1;
}

.portfolio .container {
  color :#002c39;
}

.portfolio__container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    /* color: var(--text-black-700); */
    color: #002c39;
    margin-top: 60px;
    /* overflow: hidden; */
  }
  .portfolioWrap {
    display: flex;
    gap: 30px;
  }
  
  .portfolio__filters {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* column-gap: .75rem; */
  }
  
  .portfolio__item {
    cursor: pointer;
    color: var(--text-black-900);
    padding: 8px 16px 6px;
    font-weight: 600;
    border-radius: .5rem;
    transition: 0.3s;
  }
  
  .portfolio__card {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
    flex: 0 0 30%;
    max-width: 30%;
    background-color: var(--bg-black-100);
    padding: 1.25rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(48, 46, 77, 0.15);
    overflow: hidden;
    /* Transition 적용 불가 - Mixitup */
  }
  
  .portfolio__card:hover { 
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    transform: scale(1.05);
  }
  
  .portfolio__img {
    border-radius: 0.5rem;
    margin-bottom: 1em;
    width: 70%;
    margin: 30px auto;
  }
  
  .portfolio__subtitle {
    font-size: 0.75rem;
    color: #e36414;
  }
  
  .portfolio__title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: .5rem;
    flex: 1;
  }
  
  .portfolio__button {
    color: #002c39;
    font-size: 1rem;
    display: flex;
    align-items: center;
    column-gap: .25rem;
    cursor: pointer;
    font-weight: 600;
  }
  
  .portfolio__button i {
    font-size: 1rem;
    transition: .3s;
  }
  
  .portfolio__button:hover i {
    transform: translateX(.25rem);
  }
  
  .portfolio__item-details {
    display: none ;
  }
  
  /* Active Item Portfolio */
  .active-portfolio {
    background-color: #002c39;
    color: #fff;
  }
  
  /* Portfolio Popup */
  .portfolio__popup {
    position: fixed;
    top: 0;
    left: 270px;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
  
  }
  
  .portfolio__popup.open { 
    opacity: 1;
    visibility: visible;
  }
  
  .portfolio__popup-inner { 
    position: relative;
    background-color: #fff;
    border: 1px solid var(--bg-black-50);
    width: 580px;
    border-radius: .5rem;
    padding: 2.5rem;
    color: var(--text-black-700);
    max-height:100vh;
    overflow-y: auto;
  }
  
  .portfolio__popup-content {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 3rem;
  }
  
  .portfolio__popup-close { 
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 1.5rem;
    color: #002c39;
    cursor: pointer;
    background: var(--bg-black-100);
  }
  
  .portfolio__popup-close {
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: absolute;
    top: 30px;
    bottom: 30px;
    right: 30px;
    border-radius: 5px;
    background-color: var(--bg-black-100);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;
    transition: all 0.3s ease;
  }
  
  .portfolio__popup-close span {
    position: relative;
    height: 2px;
    width: 18px;
    background-color: transparent;
    display: inline-block;
  
  }
  
  .portfolio__popup-close span::before { 
    content: '';
    height: 2px;
    width: 18px;
    background: #002c39;
    position: absolute;
    transform: rotate(45deg);
    /* top: 50%;
    left: 50%; */
  }
  
  .portfolio__popup-close span::after { 
    content: '';
    height: 2px;
    width: 18px;
    background: #002c39;
    position: absolute;
    transform: rotate(-45deg);
    /* top: 50%;
    left: 50%; */
  }
  
  
  .portfolio__pop-img {
    width: 100%;
    margin: 0 auto;
    /* max-height: 300px; */
    border-radius: 0.5rem;
  }
  
  .portfolio__popup-subtitle {
    font-size: 0.75rem;
    /* margin-bottom: 0.25rem; */
  }
  
  .portfolio__popup-title {
    color: var(--text-black-900);
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem
  }
  
  .portfolioMobile {
    display: none;
  }

  .details__description {
    font-size: 1rem;
    margin-bottom: 1.5rem
  }
  
  .details__info li {
    margin-bottom: 0.25rem;
    text-transform: capitalize;
    font-size: 1rem;
  }
  
  .details__info li:last-child {
    margin-bottom: 0; 
  }
  
  .details__info li span {
    font-weight: normal;
  }
  
  .details__info li a {
    text-transform: lowercase;
    color: #002c39;
  }

  .portfolioTxt {
    margin-top: 30px;
  }
  
  @media (max-width: 1199px) {
    .portfolio__card {
      display: flex;
    }
    .portfolio__filters {
      display: flex;
    }
    .portfolio__popup {
      left:0;
    }
    .portfolioPCver {
      display: none;
    }
    .portfolioMobile {
      display: block;
    }
  }
  
  @media (max-width: 767px) {
    .portfolio__card {
      margin-bottom: 30px;
      flex: 0 0 48%;
      max-width: 48%;
    }
    .portfolio__popup-content {
      grid-template-columns: 1fr;
    }
    .portfolio__popup-close {
      top: inherit;
      bottom: 30px;
    }
  }
  
  @media (max-width: 576px) {
    .portfolio__card {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .portfolio__popup-inner { 
      width: 98%;
    }
    .portfolio__pop-img {
      width: 100%;  
    }
    .portfolio__item {
      flex: 0 0 48%
    }
    .portfolio__item:nth-child(1) {
      flex: 0 0 96%
    }
  }
  