/* ===== Portfolio Section ===== */
.portfolio {
  background: #203929
    url("https://portfolio-v4-abjt14.vercel.app/assets/images/noise/noise.png")
    repeat 0 0;
  background-repeat: repeat;
  animation: 1000ms infinite noise;
  opacity: 1;
}

.portfolio .section-title h2 {
  color: #cdc4b5;
}

.portfolio .section-title h2:before {
  background-color: #cdc4b5;
}

.portfolio .container {
  color: #cdc4b5;
}

.portfolio__container {
  position: relative;
  background: #efebe6
    url("https://portfolio-v4-abjt14.vercel.app/assets/images/noise/noise.png")
    repeat 0 0;
  background-repeat: repeat;
  animation: 1000ms infinite noise;
  opacity: 1;
  border: 1px solid var(--bg-black-50);
  width: 800px;
  border-radius: 0.5rem;
  padding: 2.5rem;
  color: var(--text-black-700);
  margin: auto;
  display: flex;
  gap: 40px;
}

.portfolioInner {
  /* grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 3rem; */
  flex: 1 1 400px;
}

.portfolioDetail {
  flex: 1 1 400px;
}

.portfolioWrap {
  display: flex;
  gap: 30px;
}

.portfolio__item {
  cursor: pointer;
  color: var(--text-black-900);
  padding: 8px 16px 6px;
  font-weight: 600;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.portfolio__img {
  border-radius: 0.5rem;
  margin-bottom: 1em;
  width: 100%;
}

.portfolio__subtitle {
  font-size: 0.75rem;
  color: #e36414;
}

.portfolio__title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  flex: 1;
}

.portfolio__button {
  color: #203929;
  font-size: 1rem;
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  cursor: pointer;
  font-weight: 600;
}

.portfolio__button i {
  font-size: 1rem;
  transition: 0.3s;
}

.portfolio__item-details {
  display: none;
}

.details__info a,
.details__info a:visited {
  color: #203929;
}

/* Active Item Portfolio */
.active-portfolio {
  background-color: #203929;
  color: #fff;
}

.portfolioTxt {
  margin-top: 30px;
}

.swiper {
  height: 100%;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #cdc4b5;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: transparent;
  border: 1px solid #cdc4b5;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 40px;
  transition: width 0.5s;
  border-radius: 5px;
  background: #cdc4b5;
  border: 1px solid transparent;
}

@media (max-width: 861px) {
  .portfolio__container {
    width: 530px;
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .portfolio__card {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .portfolio__item {
    flex: 0 0 48%;
  }
  .portfolio__item:nth-child(1) {
    flex: 0 0 96%;
  }
}
