/* topNav */
.topNav {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: transparent;
  z-index: 9;
}

.topNav .nav {
  position: relative;
  float: right;
  margin-right: 100px;
  line-height: 80px;
}

.topNav .nav li {
  float: left;
}

.topNav .nav li a {
  margin-right: 20px;
  color: #203929;
}

.topNav .nav li a:visited {
  color: #203929;
}

@media (max-width: 1199px) {
  .topNav {
    display: none;
  }
}
